.orders-container {
    max-width: 100%;
    height: auto;
}

.orders-container .orders-head {
    width: 100%;
    border-bottom: 1px solid #000;
    text-align: center;
}

.orders-container .orders-listing-container {
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
}

.order-container {
    max-width: 100%;
    height: 400px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
    box-sizing: border-box;   
}

.order-container .order-image-container {
    width: 100%;
    height: 65%;
    padding: 5px;
}

.order-container .order-image-container .order-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.order-container .order-info-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.order-container .amount-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.order-container .address-container {
    text-align: center;
}

.order-container .delete-order-button-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}

.order-container .delete-order-button-container .delete-button {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

@media screen and (min-width: 780px) {

.orders-container .orders-listing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}




}