.nav-header {
    box-shadow: 0 13px 20px 0 rgb(0 0 0 / 5%);
}

.header {
    max-width: 100%;
    height: 50px;
    background-color: #fff;
    padding: 3px;
    position: sticky;
    top: 0;
}

.header .navigation {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.header .navigation .site-name {
    cursor: pointer;
}

.header .navigation .site-name h3 {
    color: black;
    font-weight: 900;
}

.header .navigation .toggleBtn {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    background-color: #fff;
    z-index: 999;
    transition: 1s ease-in-out;
}

.menu-list-desktop {
    display: none;
}

.menu-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list ul li {
    cursor: pointer;
    padding: 0 5px;
    text-align: center;
}

.menu-list ul li p:hover {
    border-bottom: 2px solid #1266f1;
}


@media screen and (min-width: 780px) {
    .header .navigation .site-name h3 {
        font-size: 1.5rem;
    }

    .header .navigation .toggleBtn {
        display: none;
    }

    .nav-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        /* padding: 0 20px; */
        box-sizing: border-box;
        height: 80px;
    }

    .menu-list-desktop {
        display: block;
    }

    .menu-list-desktop ul {
        width: 100%;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    .menu-list-desktop ul li {
        padding: 0 5px;
        cursor: pointer;
        border: 2px solid #161616;
        border-radius: 5px;
        margin: 0 10px;
        color: #161616;
    }

    .menu-list-desktop ul li:hover {
        background-color: #161616;
        color: #fff;
    } 



}